
body {
  font-family: font-family: 'Manrope', sans-serif !important;
  background: hsl(210, 46%, 95%);
}

.main{
  min-height: 100vh;
  background: hsl(210, 46%, 95%);
}
.card{
margin: 0px auto;
  max-width: 329px;
  width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
}
.banner-container{
max-width: 329px;
width: 100%;
height: 200px;
object-fit: cover;
}
.banner-container img{
  width: 100%;
  max-width:100%;
  height: 100%;
}
.share-bar{
  display:none;
}
.text{
  max-width: 329px;
  width: 100%;
  padding: 33px;
}
.bold-text {
  font-size: 0.75rem;
  line-height: 165.2%;
  font-weight: bold;
  letter-spacing: 6.5%;
  color: hsl(217, 19%, 35%);
}

.regular-text {
  font-size: .65rem;
  line-height: 152.2%;
  letter-spacing: 2.5%;
  color: hsl(214, 17%, 51%);
}

.profile-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 329px;
  width: 100%;
  height: 63px;
  align-items: center;
padding: 0px 33px 22px 33px;
}

.profile-bar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-data {
  display: flex;
  flex-direction: column;
}

.profile-data p {
  margin: 0;
}

button {
  border: none;
  border-radius: 50%;
  background: hsl(210, 46%, 95%);
  width: 1.6rem;
  height: 1.6rem;
}

.share-bar p{
  margin: 0;
}
.icono-sm {
  color: #fff;
  font-size: 1rem;
}
